body{
    font-family: TUITypeLight, helvetica, arial, sans-serif;
    font-weight: 300;
    color: #002d41;
    font-size: 16px;
	line-height: 28px;
	margin: 0px;
}

h3 {
	font-size: 16px;
	margin: 0px 0px -25px;
}

p strong {
	font-weight: 600;
	margin-top:22px;
}

.hotel-content strong {
    display:inline;
}

p strong {
	display:block;
}